
.footer {
  background-color: #282c34;
  color:  #9b9b7a;
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0px;
  text-align: center;
}
#github, #linkedin, #deployment {
  height: 25px;
}
#face {
  height: 110px
}
img {
  padding: 2px;
}
.card-body {
  position: relative;
  background-color: #4a4e69;
  
  
}
.card-header {
  background-color: #9b9b7a;
}
.coverDiv {
  color: #dfdfdf;
  position: absolute;
  
}
.card-body .coverDiv {
  opacity: 0;
  position: absolute;
  z-index: 99;
}
.card-body:hover .coverDiv {
  opacity: 100;
   
}

.card-body:hover .imgHov {
  opacity: 0;
}
